*{box-sizing: border-box;}

.contenedor {}

.banner-container {
	text-align: center;
    margin: auto;
    display: block;
}

figure img{
	width: 1440px;
	height: 440px;
}

.redessociales {
	text-align: right;
	margin-right: 30px;
}

.email {
	text-align: center;
	padding: 40px;
}

#label {
	font-size: 16px;
	color: purple;
}

#aceptar {
	color: purple;
	background: lightblue;
	font-size: 14px;
}

footer{
	text-align: center;
	padding: 60px;
}

#footer {
	font-size: 18px;
}